body{
  font-family: 'Roboto', sans-serif;
}
img{
  width: 100%;
  max-height: 100%;
}
.debug-red{
  border: 1px solid rgb(196, 8, 8);
}
.debug{
  border: 2px dashed black;
}
header{
  background-color: #f8f9fa;
  height: 70px;
  width: 100%;
}
.header .interno{
  height: 100%;
}
.logo{
  width: auto;
  height: 70px;
}
.searchbar{
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 5px;
}
.searchbar input{
  width: calc(100%-100px);
  background-color: #e5e5e5;
}
.top-nav{
  height: 100%;
  width: 100%;
}
.top-nav .bell{
  color: #ff8f00;
}
.left{
  width: 75px;
  background-color: #051e34;
  height: 100vh;
}
.right{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.right button{
  text-decoration: none;
  background-color: #1b72e8;
  color: white;
  border-radius: 10px;
  margin: 0 30px;
}
.top-right{
  background-color: #1b72e8;
}
.top-right a{
  color: white;
}
.top-right a .plus{
  border: wheat 1px solid;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}
.index a{
  padding:3px 6px;
  text-decoration: none;
  background-color: #165bba;
  border-radius: 50px;
  margin: 0;
}
.table th i{
  background-color: orangered;
  border-radius: 50%;
  padding: 10px;
  color: white;
}
.table td i{
  border: 1px solid #6c757d;
  padding: 3px;
  color: #6c757d;
  border-radius: 5px;
}
.index i{
  padding: 0 3px;
}
.i-bottom{
  margin-top: 10px;
  font-weight: bold;
  font-size: 2rem;
}
.titolo{
  border-radius: 1px solid;
  border-radius: 10px 0;
}
.line{
  border-bottom: 2px solid black;
}
.tabella .classe{
  width: 30%;
}
.tabella .contenuto{
  width: 50%;
}
.data{
  width: 35%;
}
.roi{
  width: 10%
}
.stato{
  width: 15%
}
.azioni{
  width: 30%;
}
.question{
  padding: 30px;
  position: relative;
}
.question i{
  position: absolute;
  right: 10px;
}
.question:hover p,
.question:hover .fa-chevron-up{
  display: block;
}
.question:hover .fa-chevron-down,
.question .fa-chevron-up{
  display: none;
}
.question p{
  display: none;
}
.bottom-right{
  background-color: #f8f9fa;
}
@media screen and (max-width: 767px){
  .right .tendina{
    width: 100% !important;
  }
}
@media screen and (min-width: 768px){
  .top-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1140px){
  .left{
    width: 90px;
  }
}
  